body
{
    background-color: aqua;
}
header
{
    text-align: center;
    color: green;
}
h1
{
    text-align: center;
    display: block;
    border: 10px black;
    background-color: azure;
}
.container
{
    display: flex;
    justify-content:space-evenly;
    border: 10px solid black;
    height: 30vh;
    flex-wrap: wrap;
    align-content: center;
}


.box
{
  width: 15;
  height: 15;
  font-size: 4em;
  text-align: center;
  border-radius: 15px;
}
#box1
{
    background-color: red;
    align-self: start;
}
#box2
{
    background-color: rgb(68, 0, 255);
}
#box3
{
    background-color: rgb(250, 246, 246);
}
.nav
{
   display: flex;
    justify-content:space-evenly;
    border: 10px solid black;
    flex-wrap: wrap;
    align-content: center;
}
a:hover
{
    color: crimson;
}
p
{
    font-family: cursive;
    font-size: large;
}

   
   
   